.invisible-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.invisible-button:hover,
.invisible-button:focus {
text-decoration: none;
}
